# Database
DATABASE_URL="postgresql://postgres:legado2026@localhost:5432/legadodb?schema=public"

# MinIO
MINIO_ENDPOINT="localhost"
MINIO_PORT=9000
MINIO_ACCESS_KEY="admin"
MINIO_SECRET_KEY="legadominio"
MINIO_USE_SSL="false"

# JWT
JWT_SECRET="super_secret_key_legado_2026"
JWT_EXPIRATION="15m"
JWT_REFRESH_SECRET="super_secret_refresh_key_legado_2026"

# Redis
REDIS_HOST="localhost"
REDIS_PORT=6379

# OpenAI
OPENAI_API_KEY="sk-..."
