@import "tailwindcss";
@config "../tailwind.config.js";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
  --font-serif: "Source Serif 4", serif;
}

body {
  background-color: theme("colors.paper-surface");
  color: theme("colors.ink-text");
}
